<%= form_with(model: blog_post, local: true) do |form| %>
  <% if blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% blog_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= form.label :picture %>
    <%#= form.text_field :picture, class: "form-control" %>
    <span class="picture">
      <table>
        <tr>
          <td><img id="picture_preview"/></td>
          <td height="100" valign="bottom"><%= form.label :category %></td>
        </tr>
        <tr>
          <td><%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png', :onchange=>"readURL(this);"%></td>
          <td><%= form.select :category, BlogPostsController::CATEGORY.map { |s| [s] }, class: "mb-3" %></td>
        </tr>
      </table>
    </span>
  </div>

  <div class="field">
    <%= form.text_field :title, class: "form-control", placeholder: "Title of Post..." %>
  </div>

  <div class="field">
    <%= form.text_area :content, :placeholder => "Add new Content...", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary btn-block" %>
    <br/>
    <br/>
    <br/>
  </div>
<% end %>


<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
  // to make image preview before uploading file.
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#picture_preview')
              .attr('src', e.target.result)
              .width(100)
              .height(100);
        };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
