
<br/>
  <% if @blog_posts.nil? %>
    <p> Sorry, No post right now</p>
  <% else %>

    <%= will_paginate @blog_posts%>

    <% @blog_posts.each do |blog_post| %>
    <div class="grid-container">
      <div class="picture">
        <%= image_tag blog_post.picture.url, width: 100, height: 100 if blog_post.picture? %>
      </div>
      <div class="content">
        <div class="title">
          <h3><%= link_to blog_post.title, blog_post %></h3>
        </div>
        <div class="posted_by">
          Posted By <%= blog_post.user.username %> &bull; <%= time_ago_in_words(blog_post.created_at) %> ago.
          <br/>
          <% if user_signed_in? %>
            <% if current_user.id==blog_post.user_id %>
              <%= link_to 'Edit', edit_blog_post_path(blog_post) %> &nbsp;
              <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %> &nbsp;
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <hr width="80%" />

    <% end %>
    <%= will_paginate @blog_posts %>
  <% end %>

  <br/>
