<br/>
<br/>
  <% if @blog_posts.nil? %>
    <p> Sorry, No post right now</p>
  <% else %>

    <% @blog_posts.each do |blog_post| %>
    <div class="grid-container">
      <div class="picture">
        <% if blog_post.picture? %>
          <%= image_tag blog_post.picture.url, width: 300, height: 200 if blog_post.picture? %>
        <% else %>
        <%= link_to image_tag("default_picture.png", alt: "Rails logo", width: 300, height: 200), blog_post %>
        <% end %>
      </div>
      <div class="content">
        <div class="title">
          <h3><%= link_to blog_post.title, blog_post, style: "font-weight: bold" %></h3>
          <p>
            <span class="glyphicon glyphicon-time"></span><%= time_ago_in_words(blog_post.created_at).remove("about")  %> ago.| <%= link_to blog_post.category, '/'+blog_post.category.downcase %>
          </p>
        </div>
        <div class="posted_by">
          <%= link_to (raw(blog_post.content.truncate_words(20))), blog_post %>
        <br/><br/>
          <% if user_signed_in? %>
            <% if current_user.id==blog_post.user_id %>
              <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "glyphicon glyphicon-pencil" %> &nbsp;
              <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash destroy_post" %> &nbsp;
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <hr width="80%" />

    <% end %>
    <%= will_paginate @blog_posts%>
  <% end %>

  <br/>
