<% provide(:title, 'Show posted ') %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog_post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog_post.content %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @blog_post.picture %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blog_post.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog_post.user %>
</p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', '/home' %>
